{% extends 'base/base.html' %}
{% load leaflet_tags mathfilters i18n %}

{% block content %}
<!--banner part start-->
<section class="banner_outer listing">
  <div class="container">
    <div class="row">
      <div class="banner_inr">
        <div class="profile_top">
          <span>{{ user.community_points }}</span>
          <div class="admin_profile">
            {% if user.photo %}
              {{ user.photo }}
            {% else %}
              <i class="glyphicon glyphicon-user" style="font-size: 10em;"></i>
            {% endif %}
            <div class="name_admin_top new_one">{{ user }} <a href="#">{% trans "Edit" %}</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="{% url 'user_settings' %}" class="edit_btn_admin">{% trans "Edit" %}</a>
</section>
<!--banner part end-->
<!--content part start-->
<section class="content_outer listing_main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 content_inner">
        <div class="col-lg-10 listing_left">
          <ul>
            <li><a data-toggle="tab" href="#home">{% trans "About Me" %}</a></li>
            <li><a data-toggle="tab" href="#menu1">{% trans "my community points" %}</a></li>
            <li><a data-toggle="tab" href="#menu5">{% trans "my location" %}</a></li>
            <li><a data-toggle="tab" href="#menu3">{% trans "my listings" %}</a></li>
          </ul>
        </div>
        <div class="col-lg-2 listing_left">
          <ul>
            <li>
            <!--<div class="dropdown">-->
                <!--<a href="javascript:;" id="menu4">Unblock Users</a>-->
                  <!-- <div class="setting user_block dropdown-menu" role="menu" aria-labelledby="menu4">
                      <div class="user_block_top">
                       <div class="user_block_top_left"><img src="images/banner_image2.jpg" alt=""></div>
                       <div class="user_block_top_right">Peter <a href="#" class="unblock_btn">Unblock</a></div>
                      </div>
                      <div class="user_block_top">
                       <div class="user_block_top_left"><img src="images/banner_image2.jpg" alt=""></div>
                       <div class="user_block_top_right">Peter <a href="#" class="unblock_btn">Unblock</a></div>
                      </div>
                   </div>-->
              <!--</div>-->
            </li>
            <li><a href="#" data-toggle="modal" data-target="#myModal">{% trans "invite friends" %}</a></li>
           </ul>
        </div>
        <div class="tab-content">
          <div id="home" class="tab-pane fade in active">
            <div class="about">
              <div class="about_left">
                <div class="about_me_outer">
                  <div class="about_me">
                    <form action="{% url 'user_about_update' %}" method="post" class="ajax_form">{% csrf_token %}
                      <h3>about me</h3>
                      <div class="msg_readable">
                        {% trans "Not filled yet" as not_filled_yet %}
                        {% trans "type here" as type_here %}
                        {{ object.content|default_if_none:not_filled_yet|linebreaksbr }}
                      </div>
                      <textarea name="content" cols="" rows="" class="msg hidden">{{ object.content|default:type_here|linebreaksbr }}</textarea>
                      <button type="button" class="edit_btn">{% trans "edit" %}</button>
                      <button type="submit" class="save_btn hidden">{% trans "save" %}</button>
{#                      <input name="" type="submit" class="save_btn hidden" value="save">#}

{#                      <input name="" type="submit" class="edit_btn" value="edit">#}
                      </form>
                    </div>
                  </div>
                  <div class="about_me_outer_right">
                    <div class="about_me about_me_right">
                      <form action="{% url 'user_what_i_like_update' %}" method="post" class="ajax_form">{% csrf_token %}
                        <h3>{% trans "What i like" %}:</h3>
                        <div class="msg_readable">
                          {{ object.what_i_like|default_if_none:not_filled_yet|linebreaksbr }}
                        </div>
                        <textarea name="what_i_like" cols="" rows="" class="msg hidden">{{ object.what_i_like|default:type_here|linebreaksbr }}</textarea>
                        <button type="button" class="edit_btn">{% trans "edit" %}</button>
                        <button type="submit" class="save_btn hidden">{% trans "save" %}</button>
  {#                      <input name="" class="edit_btn" value="">#}
  {#                      <input name="" type="submit" class="save_btn hidden" value="save">#}
                      </form>
                  </div>
                </div>
              </div>
{#              <div class="about_right_outer">#}
{#                <div class="about_right">#}
{#                  <h3>{% trans "My languages" %}</h3>#}
{#                    <ul>#}
{#                      <li><a href="#">German</a></li>#}
{#                      <li><a href="#">English</a></li>#}
{#                      <li><a href="#">Polish</a></li>#}
{#                    </ul>#}
{#                    <input name="" type="submit" class="edit_btn" value="{% trans "edit" %}">#}
{#                  </div>#}
{#                </div>#}
                <div class="group_outer">
                  <div class="group">
                   <h3>{% trans "My groups" %}</h3>
                   <div class="group_list">
                   {% if object.groups.exists %}
                     <ul>
                       {% for group in object.groups.all %}
                       <li>
                         <a href="{{ group.get_absolute_url }}">
                           <span class="name_admin">{{ group }}</span>
                           <img src="{{ group.photo.url }}" alt="">
                         </a>
                       </li>
                       {% endfor %}
                     </ul>
                   {% else %}
                     {% trans "You didn't join any group yet." %}
                   {% endif %}
                   </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="menu1" class="tab-pane fade">
              <div class="group_outer scroll_outer">
                <div class="units scroll">
                  <ul>
                    <li>
                      <div class="units_top">{% trans "Units" %}</div>
                      <div class="total_point">{% trans "Points Per Unit" %} <span class="total_unit">{% trans "Total" %}</span></div>
                      <div class="unit_btn"></div>
                    </li>
                    <li>
                      <div class="units_top"><span class="number_unit">{{ user.listings.count }}</span>  {% trans "Listings create" %}</div>
                      <div class="total_point"><span class="unit_multi">x 5</span> = <span class="total_unit">{{ user.listings.count|mul:5 }}</span></div>
                      <div class="unit_btn"><a href="{% url 'listing_create' %}">{% trans "Create listing now!" %}</a></div>
                    </li>
                    <li>
                      <div class="units_top"><span class="number_unit">{{ user.administrated_groups.count }} </span>{% trans "Groups administrated" %}</div>
                      <div class="total_point"><span class="unit_multi">x 5</span> = <span class="total_unit">{{ user.administrated_groups.count|mul:5 }}</span></div>
                      <div class="unit_btn"><a href="#">{% trans "Create group now!" %}</a></div>{# TODO #}
                    </li>
                    <li>
                      <div class="units_top"><span class="number_unit">{{ user.groups.count }}</span> {% trans "Memberships in groups" %}</div>
                      <div class="total_point"><span class="unit_multi">x 2</span> = <span class="total_unit">{{ user.groups.count|mul:2 }}</span></div>
                      <div class="unit_btn"><a href="#">{% trans "Find groups now!" %}</a></div>{# TODO #}
                    </li>
                    <li>
                      <div class="units_top"><span class="number_unit">0</span>  {% trans "Friends invited" %}</div>
                      <div class="total_point"><span class="unit_multi">x 2</span> = <span class="total_unit">{{ 0|mul:5 }}</span></div>
                      <div class="unit_btn"><a href="{% url 'invite_friends' %}">{% trans "Invite friends now!" %}</a></div>
                    </li>
                    <li>
                      <div class="units_top">{% trans "Your community points" %}</div>
                      <div class="total_point">{{ user.profile.community_points }}</div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div id="menu5" class="tab-pane fade">
              <div class="group_outer">
                <div class="units">
                  <form action="{% url 'user_update' %}">
                    {{ AddressForm }}
                  </form>
                </div>
              </div>
            </div>
            <div id="menu3" class="tab-pane fade">
              <div class="group_outer">
                <div class="units listing_n">
                  <div class="listing_own" style="margin-top:20px;">
                    <div class="wrote">
                      <div class="content_right_main">
                        <div class="content_right_img">
                          <img src="images/books_img.jpg" alt="">
                        </div>
                        <div class="content_right_inr wrote_left list_center">
                          <div class="conetent_center ">
                            <h4>Selling my old books<span>31.03.2015 - 10:00 am</span></h4>
                            <div class="text_ch">Text of 50 characters xxxxx xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxx50...</div>
                          </div>
                          <div class="conetent_right">
                            <span>500m</span>
                            <div class="content_img">
                              <img src="images/banner_image2.jpg" alt="">
                              <div class="rounded_text">254</div>
                            </div>
                            <div class="offered_btn"><a href="#">{% trans "goods offered" %}</a></div>
                          </div>
                        </div>
                        <div class="edit_btns">
                          <a href="#" class="del_btn">{% trans "Delete" %}</a><a href="#">{% trans "Edit" %}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!--content part end-->
{% endblock %}

{% block css %}
  {{ block.super }}
  {% leaflet_css %}
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {% leaflet_js plugins="forms,accurate-position,control-geocoder,search" %}
{% endblock %}
