{% extends "base/base.html" %}
{% load bootstrap3 i18n %}

{% block content %}
<form action="" method="post">{% csrf_token %}
  {% bootstrap_form form %}
  <button type="submit">{% trans "save" %}</button>
</form>
{% endblock %}
