{% extends 'base/base.html' %}
{% load i18n %}

{% block content %}
<!--banner part start-->
<section class="banner_outer listing contact_share">
  <form action="{% url 'user_block_delete' object.pk %}" class="ajax_form" method="post">
    <button class="block_btn like_real_block_btn{% if not is_blocked %} hidden{% endif %}">{% trans "Unblock" %}</button>{% csrf_token %}
  </form>
  <form action="{% url 'user_block_create' %}" class="ajax_form" method="post">
    <input type="hidden" name="user" value="{{ object.pk }}" />{% csrf_token %}
    <button class="block_btn like_real_block_btn{% if is_blocked %} hidden{% endif %}">{% trans "Block" %}</button>
  </form>

  <div class="container">
    <div class="row">
      <div class="banner_inr">
        <div class="profile_top">
          <span>254</span>
          <div class="admin_profile">
            <img src="images/women_img.jpg" alt="">
            <span class="name_admin">{{ object }}</span>
          </div>
        </div>
      </div>
      <div class="share">
        <a href="#" class="block_btn contact_to_betty">{% trans "Contact" %} {{ object }}</a>{#TODO: messages#}
      </div>
    </div>
  </div>
</section>
<!--banner part end-->
<!--content part start-->
<section class="content_outer listing_main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 content_inner">
        <div class="col-lg-10 listing_left"></div>
        <div class="col-lg-2 listing_left">
          <ul>
            <li>
              <a href="#" data-toggle="modal" data-target="#myModal">{% trans "invite friends" %}</a>
            </li>
                {#TODO: invite friends#}
          </ul>
        </div>
        {% trans "Not filled yet" as not_filled_yet %}
        <div class="tab-content">
          <div id="home" class="tab-pane fade in active">
            <div class="about">
              <div class="about_left">
                <div class="about_me_outer">
                  <div class="about_me">
                    <h3>{% trans "about me" %}</h3>
                    <div class="msg_readable">
                      {{ object.about|linebreaksbr|default:not_filled_yet }}
                    </div>
                  </div>
                </div>
                <div class="about_me_outer_right">
                  <div class="about_me about_me_right">
                    <h3>{% trans "What i like" %}:</h3>
                    <div class="msg_readable">
                      {{ object.what_i_like|linebreaksbr|default:not_filled_yet }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="about_right_outer">
                <div class="about_right">
                  <h3>{% trans "My languages" %}</h3> {# TODO #}
                  <ul>
                    <li><a href="#">German</a></li>
                    <li><a href="#">English</a></li>
                    <li><a href="#">Polish</a></li>
                  </ul>
                </div>
              </div>
              <div class="group_outer">
                <div class="group">
                  <h3>{% trans "My groups" %}</h3>
                  <div class="group_list">
                    <ul>
                      <li>
                        <a href="#">
                          <span class="name_admin">Betty</span>
                          <img src="images/women_img.jpg" alt="">
                        </a>
                      </li>
{# <li><a href="#"><span class="name_admin">Betty</span><img src="images/women_img.jpg" alt=""></a></li>#}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="group_outer">
            <div class="group">
              <h3>{% trans "My Listings" %}</h3>
              <div class="units listing_n">
                <div id="scrollbar1" class="scroll_width">
                  <div class="scrollbar">
                    <div class="track">
                      <div class="thumb">
                        <div class="end"></div>
                      </div>
                    </div>
                  </div>
                  <div class="viewport">
                    <div class="overview">
                      <div class="wrote">
                        <div class="content_right_main">
                          <div class="content_right_img">
                            <img src="images/books_img.jpg" alt="">
                          </div>
                          <div class="content_right_inr wrote_left list_center">
                            <div class="conetent_center ">
                              <h4>Selling my old books<span>31.03.2015 - 10:00 am</span></h4>
                              <div class="text_ch">Text of 50 characters xxxxx xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxx50...</div>
                            </div>
                            <div class="conetent_right">
                              <span>500m</span>
                              <div class="content_img">
                                <img src="images/banner_image2.jpg" alt="">
                                <div class="rounded_text">254</div>
                              </div>
                              <div class="offered_btn">
                                <a href="#">goods offered</a>
                              </div>
                            </div>
                          </div>
                          <div class="edit_btns">
                            <a href="#" class="del_btn">{% trans "Delete" %}</a>
                            <a href="#">{% trans "Edit" %}</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="menu3" class="tab-pane fade">
            <div class="group_outer">
              <div class="units listing_n">
                <div class="wrote">
                  <div class="content_right_main">
                    <div class="content_right_img">
                      <img src="images/books_img.jpg" alt="">
                    </div>
                    <div class="content_right_inr wrote_left list_center">
                      <div class="conetent_center ">
                        <h4>Selling my old books<span>31.03.2015 - 10:00 am</span></h4>
                        <textarea name="" cols="" rows="" class="text_ch" placeholder="Text of 50 characters xxxxx xxxxxxxxxxxxxxxxxxxxxxxxxx50..."></textarea>
                      </div>
                      <div class="conetent_right">
                        <span>500m</span>
                        <div class="content_img">
                          <img src="images/banner_image2.jpg" alt="">
                          <div class="rounded_text">254</div>
                        </div>
                        <div class="offered_btn"><a href="#">Events</a></div>
                      </div>
                    </div>
                    <div class="edit_btns"><a href="#" class="del_btn">Delete</a><a href="#">Edit</a></div>
                  </div>
                </div>
                <div class="wrote">
                  <div class="content_right_main">
                    <div class="content_right_img">
                      <img src="images/books_img.jpg" alt="">
                    </div>
                    <div class="content_right_inr wrote_left list_center">
                      <div class="conetent_center ">
                        <h4>Selling my old books<span>31.03.2015 - 10:00 am</span></h4>
                        <textarea name="" cols="" rows="" class="text_ch" placeholder="Text of 50 characters xxxxx xxxxxxxxxxxxxxxxxxxxxxxxxx50..."></textarea>
                      </div>
                      <div class="conetent_right">
                        <span>500m</span>
                        <div class="content_img">
                          <img src="images/banner_image2.jpg" alt="">
                          <div class="rounded_text">254</div>
                        </div>
                        <div class="offered_btn"><a href="#">Events</a></div>
                      </div>
                    </div>
                    <div class="edit_btns"><a href="#" class="del_btn">Delete</a><a href="#">Edit</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
