{% extends 'base/base.html' %}
{% load i18n %}

{% block content %}
<!--content part start-->
<section class="content_outer top_main">
	<div class="container">
    	<div class="row">
        	<div class="col-lg-12 content_inner connection_center">
                <div class="col-lg-8 col-sm-offset-2 col-md-8 col-sm-8 col-xs-12 content_right center_scroll comment">

                <div id="scrollbar1">
		<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
		<div class="viewport">
			 <div class="overview">

				 {% for notification in notifications %}
                	<div class="content_right_main ref">
                        <div class="content_right_img">
                            <img height="135" width="200" src="{{ notification.cover.url }}" alt="">
                        </div>
                        <div class="content_right_inr {% if not notification.is_watched %}blue_color{% endif %} full-widht">
	                        <div class="conetent_center">
								{% ifequal notification.notification_type notification.TYPE_JOIN_REQUEST %}
	                            <h4>{{ notification.title }} <strong class="accepted_cont">{% trans "accepted" %}</strong></h4>

	                            <div class="singer_group">
	                            	<div class="singer_left"><img width="50" height="50" src="{{ notification.initiator.profile.photo.url }}" alt=""></div>
	                                <div class="singer_right">
	                                	<h3>
											{{ notification.initiator }} {% trans "wants to join" %} {{ notification.title }}
											<br><span>{{ notification.created_at|date:"d.m.Y - H:i a" }}</span></h3>
	                                </div>
	                            </div>
	                            <div  class="singer_btm_inr">
	                            	<ul>
	                            		<li><a href="#">{% trans "Reject" %}</a></li>
	                                    <li><a href="javascript:;" class="accept_btn">{% trans "Accept" %}</a></li>
	                                </ul>
	                            </div>
								{% endifequal %}
								{% ifequal notification.notification_type notification.TYPE_COMMENT %}
		                        <h4>{{ notification.title }}</h4>
		                        <div class="singer_group">
		                        	<div class="singer_left"><img width="50" height="50" src="{{ notification.initiator.profile.photo.url }}" alt=""></div>
		                            <div class="singer_right">
		                            	<h3>{% trans "Message from" %} {{ notification.initiator }}
										<br><span>{{ notification.created_at|date:"d.m.Y - H:i a" }}</span></h3>
		                            </div>
		                        </div>
		                        <div  class="singer_btm_inr">
		                        	<ul>
		                                <li class="rht"><a href="{{ notification.comment.get_absolute_url }}" data-target="comment_bock1">{% trans "Open" %}</a></li>
		                            </ul>
		                        </div>
								{% endifequal %}
	                        </div>
	                    </div>
					</div>
				{% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>
<!--content part end-->
<!--footer part start-->
<section class="footer_outer ft_btm">
	<div class="container">
    	<div class="row">
        	<div class="col-lg-12 footer_inner">
            	<ul>
                	<li><a href="#">Impressum</a></li>
                   <li><a href="#"> blog</a></li>
                    <li><a href="#">agb</a></li>
                    <li><a href="#">datenschutz</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--footer part end-->


<!--initiate accordion-->

<!--accordination-->
<script type="text/javascript">
	$(function() {

	    var menu_ul = $('.hide_part'),
	           menu_a  = $('.open');

	    menu_ul.hide();

	    menu_a.click(function(e) {
	        e.preventDefault();
	        if(!$(this).hasClass('active')) {
	            menu_a.removeClass('active');
	            menu_ul.filter(':visible').slideUp('normal');
	            $(this).addClass('active').next().stop(true,true).slideDown('normal');
	        } else {
	            $(this).removeClass('active');
	            $(this).next().stop(true,true).slideUp('normal');
	        }
	    });

	});
</script>
<!--accordination-->
{% endblock %}
