{% extends "groups/base.html" %}

{% load i18n staticfiles %}

{% block title %}
    {% trans "Create group" %} - {{ block.super }}
{% endblock %}

{% block banner %}{% endblock %}

{% block content %}
<!--content part start-->
<section class="content_outer content_outer_nm crg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 content_inner">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 content_left">
          <div class="content_helper content_helper_2">
            <div class="helper_main">
              <div class="clear_top">
                <h3 class="title_left">{% trans "Choose option" %}</h3>
              </div>
              <ul class="content_list" id="top">
                <li><a href="#">{% trans "Events" %} (25)</a></li>
                <li><a href="#">{% trans "Neighbors" %} (455)</a></li>
                <li><a href="#">{% trans "help needed" %} (12)</a></li>
                <li><a href="#">{% trans "services needed" %} (39)</a></li>
                <li><a href="#">{% trans "Services Offered" %} (120)</a></li>
                <li><a href="#">{% trans "Goods Needed" %} (21)</a></li>
                <li><a href="#">{% trans "Goods Offered" %} (1,421)</a></li>
                <li><a href="#">{% trans "Neighborhood News" %} (12)</a></li>
                <li><a href="#">{% trans "People Needed" %} (12)</a></li>
                <li><a href="#">{% trans "Groups" %} (32)</a></li>
              </ul>
              <div class="category_inr">
                <div class="drp">
                      <!--<select>
                          <option>select your options</option>
                      </select>-->
                  <div class="dropdown mega-dropdown">
                    <a href="javascript:;" class="dropdown-toggle" id="menu4">{% trans "select your options" %}</a>
                    <div class="dropdown-menu mega-dropdown-menu">
                      <ul>
                        <li><label><input name="" type="checkbox" value="" id="checkAll"><strong>
                          {% trans "Mark all" %}</strong></label></li><li><label>
                          <input name="" type="checkbox" value="" class="checkItem">
                          {% trans "Events" %}</label></li>
                        <li><label><input name="" type="checkbox" value="" class="checkItem">
                          {% trans "Neighbors" %}</label></li>
                        <li><label><input name="" type="checkbox" value="" class="checkItem">
                          {% trans "People Needed" %}</label></li>
                        <li><label><input name="" type="checkbox" value="" class="checkItem">
                          {% trans "Groups" %}</label></li>
                        <li><label><input name="" type="checkbox" value="" class="checkItem">
                          {% trans "Services Needed" %}</label></li>
                        <li><label><input name="" type="checkbox" value="" class="checkItem">
                          {% trans "Services Offered" %}</label></li>
                        <li><label><input name="" type="checkbox" value="" class="checkItem">
                          {% trans "Help Needed" %}</label></li>
                        <li><label><input name="" type="checkbox" value="" class="checkItem">
                          {% trans "Help Offered" %}</label></li>
                        <li><label><input name="" type="checkbox" value="" class="checkItem">
                          {% trans "Goods Needed" %}</label></li>
                        <li><label><input name="" type="checkbox" value="" class="checkItem">
                          {% trans "Goods Offered" %}</label></li>
                        <li><label><input name="" type="checkbox" value="" class="checkItem">
                          {% trans "Neighborhood News" %}</label></li>
                      </ul>
                      <a href="#" class="save_btn">{% trans "Save" %}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12  content_right title_right">
          <div class="title_right_top">
            <div class="fr">
              <h3>{% trans "Title" %}</h3>
              <input name="" type="text" class="add_text" placeholder="{% trans "Add Title" %}">
            </div>
          </div>
          <div class="title_right_bottom">
            <div class="image_upload">
              <img src="{% static "images/placeholder_img.png" %}" alt="">
              <a href="#" class="no_btn upload_btn" > {% trans "Upload Picture" %}</a>
            </div>
          </div>
        </div>
        <div class="about_me_outer des">
          <div class="add_des">
            <h3>{% trans "Description" %}</h3>
              <textarea name="" cols="" rows="" class="add_des_field" placeholder="{% trans "Add Description" %}"></textarea>
          </div>
        </div>
        <div class="about_me_outer des">
          <div class="add_des">
            <h3>{% trans "Choose type of group:" %}</h3>
            <a href="#" class="open_btn mt">{% trans "open" %}</a>
            <a href="#" class="open_btn closed_btn mt">{% trans "closed" %}</a>
            <a href="#" class="open_btn mt">{% trans "secret" %}</a>
          </div>
        </div>
        <div class="invite_bottom">
          <div class="invite listing_left">
            <div class="dropdown mega-dropdown4">
              <a href="javascript:;"  id="menu4" class="direct dropdown-toggle invite_btn"><!--Invite some neighbors directly!--> {% trans "Invite Some Neighbors" %}  <i class="fa fa-caret-down"></i></a>
              <div class="dropdown-menu mega-dropdown-menu4 setting user_block direct_block">
                <div class="user_block_outer">
                  <div class="user_block_top gray">
                    <div class="user_block_top_left"><img src="images/banner_image2.jpg" alt=""></div>
                    <div class="user_block_top_right">Peter <input name="" type="checkbox" value=""></div>
                  </div>
                  <div class="user_block_top">
                    <div class="user_block_top_left"><img src="images/banner_image2.jpg" alt=""></div>
                    <div class="user_block_top_right">Peter <input name="" type="checkbox" value=""></div>
                  </div>
                </div>
                <div class="user_bottom user_bottom_3"><!--20 neighbors.-->{% trans "Choose maximum 100 neighbors." %} </div>
              </div>
            </div>
          </div>
          <a href="#" class="open_btn closed_btn publish_btn">{% trans "publish" %}</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--content part end-->
{% endblock %}
