{% extends 'base/base.html' %}

{% load staticfiles thumbnail i18n %}

{% block content %}
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 content_left">
  <div class="content_helper">
    <div class="helper_main">
      <div class="clear_top"><a href="#">clear</a></div>
      <ul class="content_list">
      {% for category in categories %}
        <li>
          <a class="{{ category.checked }}" data-category href="{% if category.is_special  %}{% url 'toggle_selected_special_category' category=category.db_ref %}{% else %}{% url 'toggle_selected_category' category=category.db_ref %}"
              {% endif %}>
            {{ category.value }} ({{ category.count }})
          </a>
        </li>
      {% endfor %}
      </ul>
      <div class="category_inr">
        <div class="drp">
          <div class="dropdown mega-dropdown">
            <a href="javascript:;" class="dropdown-toggle" id="menu4">select your options</a>
            <div class="dropdown-menu mega-dropdown-menu">
              <form name="all_categories">
                <ul id="profile_categories">
                  <li><label><input name="" type="checkbox" id="checkAll"> <strong>{% trans 'Mark all' %}</strong></label></li>
                  {% for category in all_categories %}
                  <li>
                    <label>
                      {% if category.is_special %}
                          <input name="{{ category.db_ref }}" type="checkbox" {{ category.checked }} class="checkItem" data-special-category>
                      {% else %}
                          <input name="categories" value="{{ category.db_ref }}" type="checkbox" {{ category.checked }} class="checkItem">
                      {% endif %}
                      {% trans category.value %}
                    </label>
                  </li>
                  {% endfor %}
                </ul>
              </form>
              <a href="#" class="save_btn" id="save_profile_categories">Save</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content_helper">
    <div class="helper_main">
      <h3>{% trans 'around you' %}</h3>
      <div class="range_sd">
        <input type="range" min="0.1" max="20" step="0.1" value="{{ filter_distance_km }}">
        <div id="ruler"></div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12  content_right wheel">
  <div id="scrollbar1">
    <div class="scrollbar" style="height: 800px;">
      <div class="track" style="height: 800px;">
        <div class="thumb" style="top: 0; height: 350.877px;">
          <div class="end"></div>
        </div>
      </div>
    </div>
    <div class="viewport">
      <div class="overview" style="top: 0;">
      {% for item in items %}
        {% include 'listing_fragment.html' with item=item %}
      {% endfor%}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
    // Handler for .ready() called.
    $('.slide').removeClass('active');

    $('#save_profile_categories').on('click', function() {
        $.post('{% url 'update_categories' %}', $('form[name="all_categories"]').serialize()).done(function() {
            window.location.reload();
        });
    });
});
$('input[type="range"]').rangeslider({
    polyfill: false,
    rangeClass: 'rangeslider',
    fillClass: 'rangeslider__fill',
    handleClass: 'rangeslider__handle',
    onInit: function() {

    },
    onSlide: function(position, value) {

        $('.rangeslider__handle').attr('data-content', value).html("<span class='km_cls'>km</span>");
        $('.done').removeClass('active');
        $('.slide').addClass('active');
    },
    onSlideEnd: function(position, value) {
        $('.done').addClass('active');
        $('.slide').removeClass('active');

        $.post('{% url 'update_filter_distance' %}', {
                'distance': value
            }).done(function() {
            window.location.reload();
        });
    }
});
$('a[data-category]').on('click', function(event) {
    event.preventDefault();
    $.post(event.target.href, {}).done(function() {
        window.location.reload();
    });

});
</script>
{% endblock %}

