@media (min-width: 980px) and (max-width: 1169px) {
    .container {
        width: 975px;
    }
    .search {
        width: 32% !important;
    }
    .search .btn-danger {
        padding: 2px 0 !important;
    }
    .register-pop {
        padding: 13px 6px;
        float: left;
    }
    .navbar-nav > li > a {
        font-size: 13px;
        padding: 12px 6px !important;
        width: 100%;
    }
    .join-button {
        text-align: center;
    }
    .join-now-area a {
        display: inline-block;
        float: none!important;
        margin-top: 20px;
    }
    .join-button img {
        margin-left: 50px;
    }
    .join-now-section strong {
        margin-top: 20px;
        text-align: right;
        width: 100%;
    }
    .bg-color {
        padding-bottom: 10px;
        overflow: hidden;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .container {
        width: 100% !important;
    }
    .search {
        width: 32% !important;
    }
    .register-pop {
        padding: 13px 6px;
        float: left;
    }
    .join-button {
        text-align: center;
    }
    .join-now-area a {
        display: inline-block;
        float: none!important;
    }
    .join-now-section strong {
        margin-top: 20px;
        text-align: right;
        width: 100%;
    }
    .navbar-nav > li > a {
        font-size: 13px;
        padding: 12px 6px !important;
        width: 100%;
    }
    .logo {
        width: 10% !important;
    }
    .neighborhood-button a {
        font-size: 13px;
    }
    .neighborhood-button a span {
        font-size: 9px;
    }
    .join-button img {
        margin-left: 30px;
    }
    .join-now-area a {
        margin-top: 15px;
    }
    .join-now-section strong {
        margin-top: 20px;
        text-align: center;
        width: 100%;
    }
    .polly-title p {
        font-size: 32px;
        line-height: normal;
    }
    .polly-title p span {
        margin-top: 10px;
    }
    .search .btn-danger {
        padding: 2px 0 !important;
    }
    .right-section {
        background-color: #fff;
        margin-bottom: 20px;
        overflow: hidden;
        padding-bottom: 20px;
    }
    .women-circle img {
        border-radius: 0 !important;
    }
    .women-circle {
        width: 100%;
    }
}
@media screen and (max-width: 1199px) {
    .group-container .col-md-2 {
        width: inherit;
        margin-right: 10px;
        margin-bottom: 20px;
        display: inline-block;
        padding: 0;
    }
    .admin-edit {
        right: 15px;
        top: 28px;
    }
}
@media screen and (max-width: 991px) {
    .bg-color {
        padding-bottom: 10px;
        overflow: hidden;
    }
    .textarea-disabled {
        height: inherit;
    }
    .books-listing .right-section img {
        width: 100%;
    }
}
@media screen and (max-width: 856px) {
    .container {
        width: 100% !important;
    }
    .setting.dropdown-menu {
        right: 12px;
    }
    .setting.dropdown-menu:after {
        right: 12px;
    }
    .dropdown-menu.mega-dropdown-menu2.notifications {
        right: 84px !important;
    }
}
@media screen and (max-width: 767px) {
    .search {
        background: #fff none !important;
        -webkit-border-radius: 20px!important;
        -moz-border-radius: 20px!important;
        border-radius: 20px!important;
        width: 50% !important;
    }
    .navbar-header {
        display: block !important;
    }
    .search .input-group-btn {
        right: 0;
        top: 5px;
    }
    .search button {
        position: absolute !important;
        right: 0 !important;
        top: 3px !important;
        font-size: 15px;
        z-index: 9999;
    }
    .navbar-collapse.navbar-collapse.collapse.in {
        width: 100% !important;
    }
    #myNavbar {
        text-align: left !important;
    }
    .navbar-collapse {
        padding: 0;
    }
    .container-fluid > .navbar-collapse,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container > .navbar-header {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .nav.navbar-nav.pull-right > li {
        padding: 6px 0;
    }
    .col-lg-12.right-section {
        padding-left: 0;
        padding-right: 0;
    }
    .container-fluid.freunde-button .btn.btn-default.pull-left.button-radius {
        margin-top: 20px;
    }
    .newsletter {
        padding: 30px 0 50px;
    }
    .join-now-section strong {
        margin-top: 15px;
        text-align: center;
        width: 100%;
    }
    .content-section {
        padding: 25px 0 20px;
    }
    .polly-title p {
        font-size: 28px;
        line-height: normal;
    }
    .polly-title p span {
        margin-top: 15px;
        line-height: 20px;
    }
    .reasons-container {
        padding: 25px 0;
    }
    .reasons-container h2 {
        font-size: 25px;
        padding-bottom: 15px;
    }
    .open-title {
        font-size: 15px;
    }
    .newsletter-form h4 {
        font-size: 25px;
        padding-bottom: 12px;
    }
    .newsletter h3 {
        font-size: 25px;
    }
    .newsletter h3 span {
        font-size: 14px;
        margin-top: 5px;
    }
    .freunde-button {
        margin: 10px 0 0;
    }
    .jumbotron-container a img {
        margin-top: 40px;
        width: 100px;
    }
    .register-pop:focus {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    }
    .jumbotron-listing {
        width: 100%;
    }
    .jumbotron-listing li {
        display: inline-block !important;
        font-size: 14px;
        margin: 0 5px 12px 0;
        padding: 2px 15px;
        float: none;
    }
    .jumbotron-container h1 {
        font-size: 37px;
        letter-spacing: 4px;
        line-height: 36px;
        margin-top: 60px !important;
    }
    .search .search-query.form-control {
        padding: 0 20px 0 10px;
    }
    footer li {
        display: inline-block;
        padding: 0 6%;
        width: 100%;
    }
    footer {
        background-color: #282c2a;
    }
    .jumbotron {
        padding-bottom: 50px;
    }
    .nav.navbar-nav.pull-right > li {
        width: 100%;
    }
    .register-pop {
        width: 100%;
        text-align: left;
    }
    .col-lg-12.right-section {
        float: left;
        padding-bottom: 15px;
    }
    .nav.navbar-nav.pull-right {
        width: 100% !important;
    }
    .search {
        padding: 0 !important;
    }
    .search .input-group-btn {
        right: 5px !important;
        top: 0 !important;
    }
    .search .btn-danger {
        padding: 4px 0;
    }
    .search button {
        right: -10px !important;
    }
    .content-section #scrollbar1 .right-section .women-circle {
        -webkit-border-radius: 0!important;
        -moz-border-radius: 0!important;
        border-radius: 0!important;
        width: 100%;
    }
    .content-section #scrollbar1 .right-section .women-circle img {
        -webkit-border-radius: 0!important;
        -moz-border-radius: 0!important;
        border-radius: 0!important;
        width: 100%;
    }
    .women-circle {
        -webkit-border-radius: 0!important;
        -moz-border-radius: 0!important;
        border-radius: 0!important;
    }
    .books-listing .viewport {
        width: 96% !important;
    }
    .responsive-icon {
        width: 123px!important;
        margin: 10px auto;
        float: none!important;
    }
    .navbar {
        min-height: inherit;
    }
    .nav-width {
        margin-top: 10px;
    }
    .setting {
        right: 4px !important;
    }
    .dropdown-menu.mega-dropdown-menu2.notifications {
        right: 44px !important;
    }
    .nav-icons .dropdown-menu {
        width: 246px;
    }
    .notifications li a br {
        display: none;
    }
    .books-listing .right-section img {
        width: 100%;
    }
    .books-listing .right-section {
        background-color: #f4f1f1;
    }
    .books-listing .delete-btn {
        margin-top: 10px;
    }
    .books-listing .books-inner {
        padding: 0;
    }
    .bg-color {
        margin-bottom: 15px;
    }
    .banner-inner {
        text-align: center;
    }
    .group-tab {
        margin-top: 20px;
    }
}
@media screen and (max-width: 720px) {
    .nav.navbar-nav.pull-right {
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
    }
    .nav.navbar-nav.pull-right > li {
        background-color: #282c29 !important;
        float: left;
        width: 100%;
    }
    .nav.navbar-nav.pull-right > li:hover {
        background-color: #000 !important;
    }
    .navbar-header {
        width: 100% !important;
    }
    .dropdown-menu.mega-dropdown-menu2.notifications {
        right: 56px;
    }
    .register-pop {
        text-align: left;
        width: 100%;
    }
    .join-now-area,
    .join-button {
        text-align: center;
    }
    .join-now-area p {
        font-size: 25px;
    }
    .join-now-area p span {
        padding-left: 0;
    }
    .join-now-area a {
        display: inline-block;
        float: none !important;
        font-size: 35px;
        line-height: 30px;
        min-height: 150px;
        padding-top: 38px;
        width: 150px;
        margin-top: 20px !important;
    }
    .join-button img {
        display: none;
    }
    .join-now-area {
        margin-top: 10px;
    }
    .polly-title {
        margin-top: 20px;
        text-align: center;
    }
}
@media screen and (max-width: 479px) {
    #scrollbar1 .viewport {
        width: 92%!important;
    }
    .neighborhood-button a {
        font-size: 15px;
    }
    .open-title {
        font-size: 13px;
    }
    .panel-title a {
        padding: 13px 10px;
    }
    .notifications {
        right: inherit!important;
        left: -55%!important;
    }
    .mega-dropdown2 .dropdown-menu:before {
        right: 45%!important;
    }
    .textarea-disable {
        word-break: break-all;
    }
    .listing-topbar li {
        margin-bottom: 5px;
        width: 100%;
    }
}
@media screen and (max-width: 405px) {
    #tabs a {
        padding: 0 30px;
    }
    .publish_btn {
        float: left;
        margin-top: 10px;
    }
    .group-scrollbar .col-xs-6 {
        width: 100%!important;
    }
}
.responsive-icon {
    float: right;
    width: 156px;
}
